@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Matemasie&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
*::before, *::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  position: relative;
}

    :root{
        --background-color: rgb(255, 255, 255);
        --tan-background-color:rgb(247, 241, 235);
        --grey-background-color: rgb(250, 250, 250);
        --newsletter-background-color:rgb(0, 0, 0);
        --main-title-color:rgb(0, 0, 0);
        --second-title-color:rgb(137, 137, 137);
        --paragraph-color:rgb(94, 91, 105);
        --tan-text-color: rgb(227, 205, 177);
        --nav-color: rgb(38, 38, 38);
        --see-more-line-color: rgb(231, 231, 231);

        --color-black:rgb(0,0,0);

        --header-height:80px;
        --grey-split-background-height:300px;

    }


    @media (max-width : 1400px) {
        .fix-width{
            width: 860px;
        }

        .card{
            grid-template-columns: repeat(2,1fr)
        }
    }

    body{
        max-width: 100%;
    }

    .wrapper{
        display: grid;
        grid-auto-rows: auto;
    }

    .content-wrapper{
        background-color: brown;
        display: flex;
        justify-content: center;
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .head-wrapper .fix-width{
        align-content: center;
    }

    .fix-width{
        width: 1290px;
        justify-content: center;
    }

    .head-wrapper{
        background-color: var(--background-color);
        display: flex;
        justify-content: center;
        align-content: center;
        height: 80px;
        position: sticky;
        z-index: 1;
        top: 0;
        
        
    }

    .head-content{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-content: center;
    }

    header{

        align-content: center;        
    }

    h1{
        font-size: 20px;
    }

    .yum-yum{
            text-decoration: none;
            color: var(--color-black);
    }

    nav{
        align-content: center; 
      
    }

    nav ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 2rem;
        list-style: none;
    }

    li a {
        text-decoration: none;
        color: var(--nav-color) ;
    }

    #home-home{
        height: 100vh;
        background: linear-gradient(
        var(--background-color),
        var(--grey-background-color)
        );
        overflow: hidden;
    }

    #home-latest-recipies{
        background: linear-gradient(
        to bottom,
        var(--background-color) var(--grey-split-background-height),
        var(--grey-background-color) var(--grey-split-background-height)
        );
    }

    #home-book{
        justify-content: center;
        background: linear-gradient(
        to bottom,
        var(--tan-background-color) 80%,
        var(--background-color) 80%
        );
    }

    #home-video{
        background: linear-gradient(
        to bottom,
        var(--background-color) var(--grey-split-background-height),
        var(--grey-background-color) var(--grey-split-background-height)
        );
    }

    #latest-recipies-latest-recipies{
        background: linear-gradient(
        to bottom,
        var(--background-color) var(--grey-split-background-height),
        var(--grey-background-color) var(--grey-split-background-height)
        );
    }

    #recipe-home{
        height: 100vh;
        background: linear-gradient(
        var(--background-color),
        var(--grey-background-color)
        );
        overflow: hidden;
    }

    #recipe-recipe{
        background-color: var(--background-color);
    }

    #recipe-latest-recipes{
        background: linear-gradient(
        to bottom,
        var(--background-color) var(--grey-split-background-height),
        var(--grey-background-color) var(--grey-split-background-height)
        );
    }

    #video-video{
        height: 650px;
        background-image:url(/img/recipe.png);
        background-repeat: no-repeat;
        background-size: cover;
        background: linear-gradient(
        rgba(0,0,0,0),
        var(--color-black)
        );
    }

    #video-recipe{
        background-color: var(--background-color);
    }

    #video-video-recipes{
        background: linear-gradient(
        to bottom,
        var(--background-color) var(--grey-split-background-height),
        var(--grey-background-color) var(--grey-split-background-height)
        );
    }

    .content{
        justify-content: center;
        align-content: center;
    }

    .center{
        display: flex;
        justify-content: center;
    }

    .content-row{
        justify-content: center;
        align-content: center;
        display: flex;
        flex-direction: row;
        align-items: end;
    }

    #home-home-text{
        margin-top: 100px;
        width: 550px;

    }

    #home-book-text{
        width: 450px;
        justify-self: start;
    }

    #home-book-image{
        justify-self: end;
    }

    .content-split{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    

    #home-book-split{
        margin-top: 100px;
        width: 1100px;

    }

    

    .text-setup{
        display: flex;
        flex-direction: column;
        gap:21px;
    }

   

    .cards{
        display: grid;
        grid-auto-rows: auto;
        grid-template-columns: repeat(3,1fr);
        gap: 2rem;
    }

    .card{
        background-color: var(--background-color);
    }
    
    .carrd-info{

    }

    .card-text{

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 1rem;

    }

    .card-image{
        height: 300px;
        width: 20%;
        overflow: hidden;
    }

    .read-more{
        align-self: flex-end;
        color: var(--tan-text-color);
        text-decoration: none;
    }

    .button-wrapper{
        margin-top: 30px;
        display: flex;
        align-items: center;
    }

    .centered{
            justify-content: center;
    }

    .centered::before,
    .centered::after {
    background-color: var(--see-more-line-color);
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: calc(50% - 125px - 80px);
    }

    .centered::before {
    right: 80px;
    margin-left: -50%;
    }

    .centered::after {
    left: 80px;
    margin-right: -50%;
    }

    .see-more {
        width: 250px;
        height: 52px;
        background: none ;
        border: 2px solid var(--tan-text-color);
        color: var(--tan-text-color);
        text-align: center;
        a{
            color: var(--tan-text-color);
            text-decoration: none;
        }
    }

    .see-more:hover {
        background-color: var(--tan-text-color);
        color: var(--background-color);
    }
    
    .newsletter-wrapper{

        background-color: var(--newsletter-background-color);
        padding-top: 100px;
        padding-bottom: 100px;


        .content-row{
            justify-content: space-between;
        }

        h2{
            color: var(--background-color);
        }
    }

    .subscribe{
        width: 250px;
        height: 52px;
        background:none ;
        border: 2px solid var(--tan-text-color);
        color: var(--tan-text-color);
        text-align: center;
    }

    .subscribe:hover {
        background-color: var(--tan-text-color);
        color: var(--newsletter-background-color);
    }

    input[type=email]{
        background: none;
        border: none; 
        border-bottom: 1px solid var(--tan-text-color);
        font-size: 22px;
        color: var(--background-color);


    }
    
    input[type=email]::placeholder{
        color: var(--background-color);
    }

    input[type=email]:focus {
        outline: none; 
    }

    footer{

    }

    #homePumpkinPie{
        scale: 50%;
        filter: drop-shadow(-100px 2px 74px#00000047);
        
    }

    #lax-sushi{
        position: relative;
        height: 700px;
    }

    #magazine{
        position: relative;
        width: 440px;
        box-shadow: -20px 15px  rgba(0, 0, 0, 0.05) ;
    }

    h2{
        font-size: 40px;
    }

    h3{
        font-size: 60px;
    }

    p{
        font-size: 18px;
        font-weight: 300;
        line-height: 36px;
        color: var(--paragraph-color);
    }

    legend{
        color: var(--tan-text-color);
        font-size: 16px;
    }

    .footer-wrapper{
        background-color: var(--background-color);
    }

    .footer-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }

    .socials{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .icon{
        width: 40px;
        height: 40px;
        border: 1px solid var(--tan-text-color);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-content: center;
    }

    .content-recipe{
        display: flex;
        flex-direction: row;
        gap: 176px;

        .text-setup{
            gap: 40px;
        }

        h3{
            font-size: 40px;
            color: rgb(208, 208, 208);
        }
    }

    .recipe-info{
        display: inline-flex;
    }

    .ingredients{
        width: 269px;
        display: grid;
        grid-auto-rows: auto;
        gap: 40px;

        p{
            color: var(--color-black);
        }
        
    }

    .ingredients-list{
        display: grid;
        grid-auto-rows: auto;
        gap: 20px;
    }

    .ingredient{
        display: inline-flex;
        gap: 50px;
        p{
            align-self: center;
            color:rgb(155, 155, 155);
        }
    }

    .ingredient-number{
        color: var(--tan-text-color);
        font-size: 36px;
    }