@import url("https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

*::before, *::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  position: relative;
}

:root {
  --background-color:rgb(255 255 255);
  --tan-background-color:rgb(247 241 235);
  --grey-background-color:rgb(250 250 250);
  --newsletter-background-color:rgb(0 0 0);
  --main-title-color:rgb(0 0 0);
  --second-title-color:rgb(137 137 137);
  --paragraph-color:rgb(94 91 105);
  --tan-text-color:rgb(227 205 177);
  --nav-color:rgb(38 38 38);
  --see-more-line-color:rgb(231 231 231);
  --color-black:rgb(0 0 0);
  --header-height:80px;
  --grey-split-background-height:300px;
  --font-family-base:"Poppins", arial, helvetica, sans-serif;
  --font-family-heading:"Playfair", "Comic Sans MS", cursive;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 60px;
}

p {
  font-size: 18px;
  font-weight: 300;
  line-height: 36px;
  color: var(--paragraph-color);
}

h1, h2, h3, h4, h5 {
  font-family: var(--font-family-heading);
}

label, legend, p, a {
  font-family: var(--font-family-base);
}

@media (width <= 1400px) {
  .fix-width {
    width: 860px;
  }

  .card {
    grid-template-columns: repeat(2, 1fr);
  }
}

body {
  max-width: 100%;
}

.wrapper {
  display: grid;
  grid-auto-rows: auto;
}

.content-wrapper {
  background-color: brown;
  display: flex;
  justify-content: center;
  padding-top: 60px;
  padding-bottom: 60px;
}

.fix-width {
  width: 1290px;
  justify-content: center;
}

.head-wrapper .fix-width {
  align-content: center;
}

.head-wrapper {
  background-color: var(--background-color);
  display: flex;
  place-content: center center;
  height: 80px;
  position: sticky;
  z-index: 1;
  top: 0;
}

.head-content {
  display: flex;
  flex-direction: row;
  place-content: center space-between;
}

header {
  align-content: center;
}

h1 {
  font-size: 20px;
}

.yum-yum {
  text-decoration: none;
  color: var(--color-black);
}

nav {
  align-content: center;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  list-style: none;
}

li a {
  text-decoration: none;
  color: var(--nav-color);
}

#home-home {
  height: 100vh;
  background: linear-gradient(var(--background-color), var(--grey-background-color));
  overflow: hidden;
}

#home-latest-recipies {
  background: linear-gradient(to bottom, var(--background-color) var(--grey-split-background-height), var(--grey-background-color) var(--grey-split-background-height));
}

#home-book {
  justify-content: center;
  background: linear-gradient(to bottom, var(--tan-background-color) 80%, var(--background-color) 80%);
}

#home-video, #latest-recipies-latest-recipies {
  background: linear-gradient(to bottom, var(--background-color) var(--grey-split-background-height), var(--grey-background-color) var(--grey-split-background-height));
}

#recipe-home {
  height: 100vh;
  background: linear-gradient(var(--background-color), var(--grey-background-color));
  overflow: hidden;
}

#recipe-recipe {
  background-color: var(--background-color);
}

#recipe-latest-recipes {
  background: linear-gradient(to bottom, var(--background-color) var(--grey-split-background-height), var(--grey-background-color) var(--grey-split-background-height));
}

#video-video {
  height: 650px;
  overflow: hidden;
}

.video-video-fix-width {
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  margin-left: calc(50% - 600px);
  padding-right: 0;
}

#recipe-wrapper {
  width: fit-content;
}

#video-video-text {
  z-index: 1;
  margin-top: 100px;
  width: 550px;
}

#video-recipe {
  background-color: var(--background-color);
}

#video-video-recipes {
  background: linear-gradient(to bottom, var(--background-color) var(--grey-split-background-height), var(--grey-background-color) var(--grey-split-background-height));
}

.content {
  place-content: center center;
}

.center {
  display: flex;
  justify-content: center;
}

.content-row {
  place-content: center center;
  display: flex;
  flex-direction: row;
  align-items: end;
}

#home-home-text {
  margin-top: 100px;
  width: 550px;
}

#home-book-text {
  width: 450px;
  justify-self: start;
}

#home-book-image {
  justify-self: end;
}

.content-split {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

#home-book-split {
  margin-top: 100px;
  width: 1100px;
}

.text-setup {
  display: flex;
  flex-direction: column;
  gap: 21px;
}

.cards {
  display: grid;
  grid-auto-rows: auto;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 2rem;
}

.card {
  background-color: var(--background-color);
}

.card-text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;
}

.card-image {
  height: 230px;
  overflow: hidden;
}

.read-more {
  align-self: flex-end;
  color: var(--tan-text-color);
  text-decoration: none;
}

.button-wrapper {
  margin-top: 30px;
  display: flex;
  align-items: center;
}

.centered {
  justify-content: center;
}

.centered::before, .centered::after {
  background-color: var(--see-more-line-color);
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: calc(50% - 125px - 80px);
}

.centered::before {
  right: 80px;
  margin-left: -50%;
}

.centered::after {
  left: 80px;
  margin-right: -50%;
}

.see-more {
  width: 250px;
  height: 52px;
  background: none;
  border: 2px solid var(--tan-text-color);
  color: var(--tan-text-color);
  text-align: center;
}

.see-more a {
  color: var(--tan-text-color);
  text-decoration: none;
}

.see-more:hover {
  background-color: var(--tan-text-color);
  color: var(--background-color);
}

.newsletter-wrapper {
  background-color: var(--newsletter-background-color);
  padding-top: 100px;
  padding-bottom: 100px;
}

.newsletter-wrapper .content-row {
  justify-content: space-between;
}

.newsletter-wrapper h2 {
  color: var(--background-color);
}

.subscribe {
  width: 250px;
  height: 52px;
  background: none;
  border: 2px solid var(--tan-text-color);
  color: var(--tan-text-color);
  text-align: center;
}

.subscribe:hover {
  background-color: var(--tan-text-color);
  color: var(--newsletter-background-color);
}

input[type="email"] {
  background: none;
  border: none;
  border-bottom: 1px solid var(--tan-text-color);
  font-size: 22px;
  color: var(--background-color);
}

input[type="email"]::placeholder {
  color: var(--background-color);
}

input[type="email"]:focus {
  outline: none;
}

.img-pie {
  position: relative;
  left: 50%;
  top: -85%;
  filter: drop-shadow(-100px 2px 74px rgb(0 0 0 / 27.8%));
}

.img-lax-sushi {
  position: relative;
  width: 683px;
  height: 683px;
  top: -172px;
  left: -274px;
}

.img-milk-cookies {
  position: relative;
  width: 619px;
  height: 348px;
  top: -46px;
  left: -64.5px;
}

.img-banana-cake {
  position: relative;
  width: 409px;
  height: 410px;
  top: -47.5px;
  left: 0.5px;
}

.img-cube-cake {
  position: relative;
  width: 409px;
  height: 408px;
  top: -118px;
  left: 0.5px;
}

.img-almond-cookies {
  position: relative;
  width: 409px;
  height: 290px;
  gap: 0;
}

.img-pie-card {
  position: relative;
  width: 413px;
  top: -150px;
  left: -10px;
}

.img-lax-salad {
  position: relative;
  width: 456px;
  height: 304px;
  top: -7px;
  left: -23.5px;
}

.img-blueberry-pie {
  position: relative;
  width: 409px;
  height: 290px;
}

.img-recipe {
  position: relative;
  width: 1009.25px;
  height: 690.14px;
  top: -88px;
  right: 0;
  gap: 0;
}

#magazine {
  position: relative;
  width: 440px;
  box-shadow: -20px 15px rgb(0 0 0 / 5%);
}

.quip, label {
  color: var(--tan-text-color);
  font-size: 16px;
}

.footer-wrapper {
  background-color: var(--background-color);
}

.footer-content {
  display: flex;
  flex-direction: column;
  place-content: center center;
}

.socials {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.icon {
  width: 40px;
  height: 40px;
  border: 1px solid var(--tan-text-color);
  border-radius: 50%;
  display: flex;
  place-content: center center;
}

.content-recipe {
  display: flex;
  flex-direction: row;
  gap: 176px;
}

.content-recipe .text-setup {
  gap: 40px;
}

.content-recipe h3 {
  font-size: 40px;
  color: rgb(208 208 208);
}

.recipe-info {
  display: inline-flex;
}

.ingredients {
  width: 269px;
  display: grid;
  grid-auto-rows: auto;
  gap: 40px;
}

.ingredients p {
  color: var(--color-black);
}

.ingredients-list {
  display: grid;
  grid-auto-rows: auto;
  gap: 20px;
}

.ingredient {
  display: inline-flex;
  gap: 50px;
}

.ingredient p {
  align-self: center;
  color: rgb(155 155 155);
}

.ingredient-number {
  color: var(--tan-text-color);
  font-size: 36px;
}

#video-checkbox-label {
  color: var(--color-black);
}